@model University_Manager.Models.LocalPasswordModel
@{
    ViewBag.Title = "Administrar cuenta";
}

<div style="margin: 100px">

    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>Ha iniciado sesión como <strong>@User.Identity.Name</strong>.</p>

    @if (ViewBag.HasLocalPassword)
            {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }



</div>

