<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
    <!-- Bootstrap core CSS -->
<!-- Bootstrap Core CSS -->
<link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/login.css" rel="stylesheet">
<script src="~/Js/ckeditor.js"></script>

<body>
    <div>
        @RenderBody()
    </div>

</body>

<script src="~/Assets/jquery/jquery.min.js"></script>
<script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>

</html>
